<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381175256790-4blbe5dmg0p81jqha4ejfsk8u05qcnro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381175256790-4blbe5dmg0p81jqha4ejfsk8u05qcnro</string>
	<key>API_KEY</key>
	<string>AIzaSyApeAWVCDbPFsopnhPB0CKIqvtCSaLpucw</string>
	<key>GCM_SENDER_ID</key>
	<string>381175256790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dsi.tibroish</string>
	<key>PROJECT_ID</key>
	<string>ti-broish</string>
	<key>STORAGE_BUCKET</key>
	<string>ti-broish.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381175256790:ios:ccbd5b26c5576228379b77</string>
	<key>DATABASE_URL</key>
	<string>https://ti-broish.firebaseio.com</string>
</dict>
</plist>