<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609937462962-0ir6eg4ks3aro1el6ruab924248m8j3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609937462962-0ir6eg4ks3aro1el6ruab924248m8j3l</string>
	<key>API_KEY</key>
	<string>AIzaSyDcO-ETcgFI4RpMVwscocoeE5QMptAnbGg</string>
	<key>GCM_SENDER_ID</key>
	<string>609937462962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dsi.tibroish</string>
	<key>PROJECT_ID</key>
	<string>ti-broish-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>ti-broish-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609937462962:ios:d009dbc05968205644dbab</string>
</dict>
</plist>